html, body{
  padding: 0;
  margin: 0;
}
html{
  height: 100%;
}
body{
  height: 100%;
}

.Topcontainer
{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 300px;
    margin: 0px;
    background-color: rgb(0, 0, 0);
   
}   

a {
    text-decoration: none;
    color: white;
}

.Topcontainer left
 {
    display: flex;
    align-items: center;
}


.ClickerLogo {
    display: flex;
    align-items: center;
}

.gamecontainer
{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 75%;
    width: 100%;
    background-color: silver;
    bottom: 0px
}

.ClickerButton{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: none;
}

.ClickerContainer
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.Containerright
{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    width: 100%;
}
.Containerleft
{
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: center;
    width: 100%;
}